# unnamed-emoji
# https://github.com/gucci-on-fleek/unnamed-emoji
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2023 Max Chernoff
*.aux
*.log
*.pdf
*.qdf
*.tmp
*.tua
*.tuc
*#
temp*

!fonts/*.pdf
!docs/unemoji-specimens.pdf
!texmf/**/*.pdf
